/* Main Child Styles theme */


/* Font main brand */
$brand-primary-font: 'lato', helvetica, arial;

/* Main Colors */
$brand-primary-color: #be1e2d;
$brand-primary-color__black: #212121;


/* Call to action */

.c-btn{
  white-space: nowrap;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.25);
  outline: none;
  box-shadow: rgb(153, 153, 153) 0 0 0 0;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 15px;
  margin: 0;
  padding: 12px 35px;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 15px;
  border-radius: 30px;

  &:hover{
    background-color: $brand-primary-color;
    border-color: $brand-primary-color;
    color: white;
    transition: all 0.2s ease;
  }

}

/* Headings */

.p-heading{
  color: $brand-primary-color;

  &.p-heading__centered{
    text-align: center;
  }

  &.p-heading__s1{
    font-size: 50px;
  }

  &.p-heading__s4{
    font-size: 18px;
  }
}

/* -------- General Styles ---------- */

body{
  font-family: $brand-primary-font;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: $brand-primary-color__black;
}


.coll-single{

  .title-container{
    display: none;
  }
}
