/* Main Child Styles theme */


/* Font main brand */

$brand-primary-font: 'lato', helvetica, arial;

/* Main Colors */

$brand-primary-color: #be1e2d;

/* Call to action styles */

.c-btn{
  white-space: nowrap;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.25);
  outline: none;
  box-shadow: rgb(153, 153, 153) 0 0 0 0;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 15px;
  margin: 0;
  padding: 12px 35px;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 15px;
  border-radius: 30px;

  &:hover{
    background-color: $brand-primary-color;
    border-color: $brand-primary-color;
    color: white;
    transition: all 0.2s ease;
  }

}

/* -------- */


.coll-single{

  .title-container{
    display: none;
  }
}
